.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 37px;
  align-items: center;
  align-content: center;
  flex-direction: row;
  padding-left: 150px;
  padding-right: 150px;
}

.album {
  width: 300px;
  height: 520px;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-field {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

.submit-button {
  background-color: #333333;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #6a61ee;
}

.error-message {
  color: red;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
